table{
	border:5px solid #ccc;
	border-radius:5px;
}
table td{
	width:100px;
	height:100px;
	border:3px solid #eee;
	border-radius:3px;
	cursor:pointer;
	text-align:center;
	background:transparent no-repeat center center;
}
table td.win{
	background-color:#b9f6a9;
}
button{
	font-size:200%;
	padding:5px 15px;
	margin:20px 0 0 0;
}
#gamer-2{
	color:#cccccc;
}
#gamers{
	margin:20px 30px 20px 0;
}
#gamer1{
	color:#000;
}
#gamer2{
	color:#ddd;
}